
@{
    ViewBag.Title = "Index";
    <link href="~/Content/_HomeIndex.css" rel="stylesheet" type="text/css" />
}

<div class="firstcontentpg">
    <h2>O Melhor site de<span class="altername"> SKINS DE TODO O BRASIL</span></h2>
</div>

<div class="secondcontentpg">
    <h3>Com a chegada da nova SOURCE 2 você não quer as mesmas SKINS, quer?</h3>
</div>